body {
    background-image: url("images/covid_background_contato.jpg");    
}

#apresentacao {
    border: rgb(255, 255, 255) 2px solid;
    text-align: center;
    box-shadow: black 5px 5px 8px;
    border-radius: 30px;
    margin-bottom: 5px;   
    padding: 10px;
}   

.mascaraIcon {
    width: 50%; 
}

#titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
 
#navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display: flex;
    justify-content:center;
    color: seashell;
}

ul { 
    display: flex; 
    justify-content: center;  
    list-style-type: none;
    margin-bottom: 0px;
    font-size: 18px;    
 }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(58, 58, 58);
  }

  #corpo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  #destak{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(85, 248, 172);
  }

  #boxmail{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-right: 5px;
    padding: 10px;
  }

  #direitos{
    padding: 20px;
    color: rgb(102, 101, 101);
  }